<div id="about" class="container">
    <h1 class="text-uppercase text-center pt-4 pb-4 text-decoration-underline animate__animated aboutheading">about</h1>
    <div class="row g-2 pb-5">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6" data-aos="fade-up">
            <figure>
                <img src="images/download/about1.jpg" 
                alt="service" class="img-fluid aboutpage_image">
            </figure>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6" data-aos="fade-down">
            <h1> EVERYTHING YOU NEED. NOTHING YOU DON’T. </h1>
            <p class="about_para">Unlike most high-end brands, we are committed to offering the very best quality at the very best price.
                We have cut out the middlemen, kept our distribution model lean, and by selling online from our
                warehouse
                in india, we are able to keep our markup at 2-3X rather than the traditional 6-8X.</p>
            <p class="about_para">Each step of our process aims to disrupt the status quo of the fashion industry. We bring you the best of
                the best, without the inflated price.</p>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6" data-aos="fade-right">
            <h1>DESIGNED TO LAST</h1>
            <p class="about_para">We’re not following fashion trends and we don’t create new designs each season.
                Instead we offer a permanent, all-year collection. This means that we can dedicate
                more time to rethinking every detail of our essential garments. Our products will
                not only last through wear and tear, but survive the changing tides of fashion fasds.</p>
            <p class="about_para">Our vision is to minimise the impact our manufacturing process has on the environment.</p>
            <button class="btn btn-success"> <a href="shopping" class="text-white text-decoration-none text-uppercase"> shop now</a></button>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6" data-aos="fade-down">
            <figure>
                <img src="images/download/about2.jpg" class="img-fluid aboutpage_image">
            </figure>
        </div>
    </div>
</div>