<div class="container-fluid bg-dark text-white text-uppercase">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4  d-flex flex-column" id="footercss">
            <h3 class="text-center"> info </h3>
            <a class="nav-link" href="#t&c"><i class="fa-solid fa-circle-info"></i> t & c</a>
            <a class="nav-link" href="#map"><i class="fa-solid fa-location-dot"></i> map</a>
            <a class="nav-link" href="#privacypolicy"><i class="fa-solid fa-fingerprint"></i> privacy policy</a>
            <a class="nav-link" href="#useragreement"><i class="fa-solid fa-users"></i> useragreement</a>
            <a class="nav-link" href="#blog"><i class="fa-solid fa-blog"></i> blog</a>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4  d-flex flex-column" id="footercss">
            <h3 class="text-center">global sites</h3>
            <a class="nav-link" href="#india"><i class="fa-solid fa-location-dot"></i> india</a>
            <a class="nav-link" href="#singapore"><i class="fa-solid fa-location-dot"></i> singapore</a>
            <a class="nav-link" href="#peru"><i class="fa-solid fa-location-dot"></i> peru</a>
            <a class="nav-link" href="#indonesia"><i class="fa-solid fa-location-dot"></i> indonesia </a>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 d-flex flex-column" id="footercss">
            <h1 class="text-center">follow us</h1>
            <a class="nav-link" href="#fb">facebook</a>
            <a class="nav-link" href="#twitter">twitter</a>
            <a class="nav-link" href="#insta">instagram</a>
        </div>
    </div>
    <p class="text-center">Ⓒ 2023 All rights reserved</p>
</div>