<nav class="navbar navbar-expand-lg bgc ">
  <div class="container-fluid">
    <a class="navbar-brand animate__animated animate__flash" href="/">dream shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  animate__animated animate__bounceIn animate__delay-0s" aria-current="page" href="/">
          <i class="fa-solid fa-house"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__bounceIn animate__delay-1s" href="#about">
            <i class="fa-solid fa-user"></i> about </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__bounceIn animate__delay-1s" href="#service">
            <i class="fa-solid fa-truck"></i> service </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__bounceIn animate__delay-2s" href="contact">
            <i class="fa-solid fa-address-book"></i> contact </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__bounceIn animate__delay-3s" href="register">
            <i class="fa-solid fa-registered"></i> register </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__bounceIn animate__delay-4s" href="login">
            <i class="fa-solid fa-lock-open"></i> login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__bounceIn animate__delay-5s" href="logout">
            <i class="fa-solid fa-lock"></i> logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>