<div class="container-fluid m-0 p-0 d-flex justify-content-center align-items-center flex-column homeclass">
<h1 class="pt-3 pb-3 main_heading animate__animated">STATEMENT KNITS</h1>
<p class="pb-3 homepara animate__animated">No pollution. No waste. No brainer. <br>
Explore the perfect knitwear essentials.</p>
<button class="btn btn-primary text-uppercase"><a href="shopping" class="text-white text-decoration-none"> buy now </a></button>

</div>