<div class="container" id="service">
    <h1 class="text-uppercase text-center pt-4 pb-4 text-decoration-underline animate__animated aboutheading">services</h1>
    <div class="row pb-5 g-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" data-aos="fade-up-right">
            <div class="card">
                <img src="images/download/product1.jpg" class="card-img-top" alt="service">
                <div class="card-body">
                    <h5 class="card-title">The Perfect T-Shirt</h5>
                    <p class="card-text">Customisable length. Designed to last: crafted from extra-long staple cotton.
                        Exceptional quality. Handmade in india.</p>
                    <a href="shopping" class="btn btn-primary">buy now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" data-aos="fade-down">
            <div class="card">
                <img src="images/download/product2.jpg" class="card-img-top" alt="service">
                <div class="card-body">
                    <h5 class="card-title">The Heavyweight T-Shirt</h5>
                    <p class="card-text">The 235 GSM jersey fabric is crafted in Portugal from 100% organic cotton. Our
                        custom-developed jersey fabric features.</p>
                    <a href="shopping" class="btn btn-primary">buy now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" data-aos="fade-up">
            <div class="card">
                <img src="images/download/product_3.jpg" class="card-img-top" alt="service">
                <div class="card-body">
                    <h5 class="card-title">The Perfect Shirt</h5>
                    <p class="card-text">Handmade in Europe. A custom-developed basket weave ensures superior levels of
                        flexibility and breathability. </p>
                    <a href="shopping" class="btn btn-primary">buy now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5 g-4">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" data-aos="flip-left">
            <div class="card">
                <img src="images/download/product4.0.jpg" class="card-img-top" alt="service">
                <div class="card-body">
                    <h5 class="card-title">The Boyfriend T-Shirt</h5>
                    <p class="card-text">Unisex fit: perfect for a relaxed boyfriend look. Crafted from 100% premium ELS
                        cotton.</p>
                    <a href="shopping" class="btn btn-primary">buy now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" data-aos="flip-right">
            <div class="card">
                <img src="images/download/product_5.jpg" class="card-img-top" alt="service">
                <div class="card-body">
                    <h5 class="card-title">The Oversized Shirt</h5>
                    <p class="card-text"> The unisex shirt has been tailored for an oversized boyfriend look.The
                        Oversized shirt is handmade in india </p>
                    <a href="shopping" class="btn btn-primary">buy now</a>
                </div>
            </div>
        </div> 
        <div class="col-12 col-sm-4 col-md-4 col-lg-4" data-aos="zoom-in-up">
            <div class="card">
                <img src="images/download/product_6.jpg" class="card-img-top" alt="service">
                <div class="card-body">
                    <h5 class="card-title">The Unisex Longsleeve T-Shirt</h5>
                    <p class="card-text">The unisex longsleeve T-Shirt is handmade in india from 100% 
                        organic cotton.Remarkably soft to body of humans and nature.</p>
                    <a href="shopping" class="btn btn-primary">buy now</a>
                </div>
            </div>
        </div>
    </div>
</div>